.cb-signpost-header {
    border-top: 1px solid hsl(var(--hsl-neutral-050) / 0.5);
    border-bottom: 1px solid hsl(var(--hsl-neutral-050) / 0.5);
    text-transform: uppercase;
    font-size: var(--fs-200);
    font-weight: var(--fw-regular);
    padding-block: 1rem 0.75rem;
    line-height: 1;
    &.has-raspberry-background-color {
        border-top-color: hsl(var(--hsl-neutral-050) / 0.5);
        border-bottom-color: hsl(var(--hsl-neutral-050) / 0.5);
    }
}