/**
 * CB Contact Form Block Styles
 *
 * @package  cb-identity2025
 */

.cb-contact-form-spacer {
  display: block;
  height: 6rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0.4);
}

p.gform_required_legend,
label .gform_required {
  display: none !important;
}

.gform_wrapper.gravity-theme .gfield_required {
  display: none !important;
}

form {
  .gform-field-label.gform-field-label--type-inline.gfield_consent_label,
  .gfield_label {
    color: var(--col-primary-black);
    font-weight: var(--fw-light) !important;
  }
  .ginput_container input[type="text"],
  .ginput_container input[type="email"],
  .ginput_container textarea {
    background-color: rgba(0, 0, 0, 0.1);
    color: var(--col-primary-black);
    border: none;
    border-radius: 0;
  }
  .gform_confirmation_message_1.gform_confirmation_message {
    color: var(--col-green-400);
    font-size: var(--fs-500);
  }
}
