.cb-signpost-header {
  --cb-signpost-header-line-color: hsl(var(--hsl-ink) / 0.25);
  border-top: 1px solid var(--cb-signpost-header-line-color);
  border-bottom: 1px solid var(--cb-signpost-header-line-color);
  text-transform: uppercase;
  font-size: var(--fs-200);
  font-weight: var(--fw-regular);
  padding-block: 1rem 0.75rem;
  line-height: 1;

  &.light-lines {
    --cb-signpost-header-line-color: hsl(var(--hsl-neutral-050) / 0.5);
  }

  &.dark-lines {
    --cb-signpost-header-line-color: hsl(var(--hsl-ink) / 0.25);
  }
}
