/**
 * CB Recent News Block Styles
 *
 * @package  cb-idtravel2026
 */

.cb-recent-news {
    background-color: var(--col-raspberry);
    color: var(--col-white);

    &__pre-title {
        background-color: var(--col-raspberry-450);
        border-top: 1px solid var(--col-raspberry-400);
        border-bottom: 1px solid var(--col-raspberry-400);
        padding-block: 0.75rem;
        color: var(--col-white);
        font-weight: var(--fw-regular);
        font-size: var(--fs-300);
        line-height: 1;
    }

    .insight-type-grid__date {
        color: var(--col-raspberry-100);
    }
}