.stat-hero {
  background-color: var(--col-ink);
  color: var(--col-white);
  padding-block: 8rem 5rem;
  .h1-wrapper {
    border-top: 1px solid hsl(var(--hsl-raspberry-100) / 0.4);
  }
  h1 {
    text-wrap: balance;
    width: 60%;
    padding-bottom: 5rem;
    font-size: var(--fs-900);
    letter-spacing: var(--ls--40);
    line-height: 1;
  }
  &__cta-title {
    font-size: var(--fs-400);
    font-weight: var(--fw-regular);
    letter-spacing: var(--ls--5);
  }
  &__intro {
    font-size: var(--fs-100);
    font-weight: var(--fw-regular);
    margin-bottom: 1.5rem;
  }
  &__stat {
    border-top: 1px solid hsl(var(--hsl-raspberry-100) / 0.4);
    border-bottom: 1px solid hsl(var(--hsl-raspberry-100) / 0.4);
    display: flex;
    align-items: baseline;
    gap: 0.1em;
    font-weight: var(--fw-book);
    font-size: var(--fs-900);
    letter-spacing: var(--ls--30);
    line-height: 1;
  }

  &__stat-value,
  &__stat-prefix,
  &__stat-suffix {
    display: inline-block;
  }
}
