.cb-image-feature-overlay {
  position: relative;
  display: flex;
  align-items: flex-end;
  min-height: 70vh;
  background-color: var(--col-ink);
  color: var(--col-white);

  &--has-background-image {
    overflow: hidden;

    &::before {
      content: "";
      position: absolute;
      inset: -3rem 0;
      z-index: 0;
      background-image: var(--_bg-url);
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      transform: translateY(var(--cb-image-feature-overlay-parallax-y, 0));
      will-change: transform;
    }
  }

  &__overlay {
    position: relative;
    z-index: 1;
    width: 100%;
    isolation: isolate;
    margin-top: 15rem;
  }

  &--hero {
    min-height: calc(100vh - var(--h-top));

    h1 {
      font-size: var(--fs-900);
      line-height: 1;
      letter-spacing: var(--ls--40);
      font-weight: var(--fw-book);
    }
    .cb-image-feature-overlay__overlay {
      margin-top: 0;
    }
  }

  &__overlay::before {
    content: "";
    position: absolute;
    inset: 0;
    z-index: -1;
    background: url("../img/blur.jpg") center / cover no-repeat;
    opacity: 0.9;
  }

  &__content {
    max-width: 64rem;
    font-size: var(--fs-500);
    line-height: var(--lh-500);
    font-weight: var(--fw-light);
    letter-spacing: var(--ls--10);
    p:last-child {
      margin-bottom: 0;
    }
  }
}
