.news-insights-hero {
  a {
    color: var(--col-lime-900);
    text-decoration: none;
  }
}

.news-insights {
  background-color: var(--col-white);
}

.insight-type-grid {
  color: var(--col-primary-black);
  &__card {
    text-decoration: none;
    &:hover {
      color: var(--col-primary-black);
      .insight-type-grid__image {
        transform: scale(1.05);
      }
    }
  }
  &.grid-type-1 {
    .insight-type-grid__card-1 {
      .insight-type-grid__image {
        aspect-ratio: 4 / 3;
      }
    }
    .insight-type-grid__card-2 {
      .insight-type-grid__image {
        aspect-ratio: 16 / 9;
      }
    }
    .insight-type-grid__card-3 {
      .insight-type-grid__image {
        aspect-ratio: 5 / 4;
      }
    }
    .insight-type-grid__date {
      color: var(--col-neutral-900);
    }
  }
  &.grid-type-full {
    .insight-type-grid__card-1 {
      .insight-type-grid__image {
        aspect-ratio: 4 / 3;
      }
    }
    .insight-type-grid__card-2 {
      .insight-type-grid__image {
        aspect-ratio: 16 / 9;
      }
    }
    .insight-type-grid__card-3 {
      .insight-type-grid__image {
        aspect-ratio: 5 / 4;
      }
    }
    .insight-type-grid__card-4 {
      .insight-type-grid__image {
        aspect-ratio: 16 / 9;
      }
    }
    .insight-type-grid__card-5 {
      .insight-type-grid__image {
        aspect-ratio: 4 / 3;
      }
    }
    .insight-type-grid__card-6 {
      .insight-type-grid__image {
        aspect-ratio: 1 / 1;
      }
    }
    .insight-type-grid__card-7 {
      .insight-type-grid__image {
        aspect-ratio: 16 / 9;
      }
    }
    .insight-type-grid__date {
      color: var(--col-neutral-600);
    }
  }
  &__image-wrapper {
    overflow: hidden;
    margin-bottom: 0.25rem;
  }
  &__image {
    width: 100%;
    height: auto;
    display: block;
    object-fit: cover;
    transition: transform 0.4s cubic-bezier(0.4, 0, 0.2, 1);
  }

  &__category {
    border-bottom: 1px solid hsl(var(--hsl-lime-1000) / 0.4) !important;
    text-transform: uppercase;
    margin-bottom: 1rem;
    font-size: var(--fs-50);
  }
  &__title {
    font-weight: var(--fw-semi);
    font-size: var(--fs-300);
    margin-bottom: 0.5rem;
  }
  &__date {
    text-transform: uppercase;
    font-size: var(--fs-50);
  }
}

.single-blog {
  background-color: var(--col-white);
  color: var(--col-primary-black);

  &.post-press {
    --_colour: var(--col-lime-900);
  }
  &.post-insight {
    --_colour: var(--col-lime-900);
  }

  .post-hero-image {
    width: 100%;
    max-width: 1920px;
    aspect-ratio: 16 / 9;
    display: block;
    object-fit: cover;
    position: fixed;
  }

  .post-hero-clip-group {
    aspect-ratio: 16 / 9;
    -webkit-mask-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg id='Layer_1' data-name='Layer 1' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 920.33 582.19'%3E%3Cpolygon points='493.21 204.65 877.27 164.98 860.23 0 0 88.85 17.04 253.83 50.48 250.38 43.38 315.33 903.06 409.29 920.33 251.33 493.21 204.65'/%3E%3Crect x='380.2' y='44.09' width='158.9' height='864.8' transform='translate(-44.01 906.19) rotate(-86.5)'/%3E%3C/svg%3E");
    mask-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg id='Layer_1' data-name='Layer 1' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 920.33 582.19'%3E%3Cpolygon points='493.21 204.65 877.27 164.98 860.23 0 0 88.85 17.04 253.83 50.48 250.38 43.38 315.33 903.06 409.29 920.33 251.33 493.21 204.65'/%3E%3Crect x='380.2' y='44.09' width='158.9' height='864.8' transform='translate(-44.01 906.19) rotate(-86.5)'/%3E%3C/svg%3E");
    -webkit-mask-size: contain;
    mask-size: contain;
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-position: center;
    mask-position: center;
    overflow: hidden;
  }

  .category-wrapper {
    border-top: 1px solid hsl(var(--hsl-lime-1000) / 0.4) !important;
    border-bottom: 1px solid hsl(var(--hsl-lime-1000) / 0.4) !important;
    color: var(--_colour);
    text-transform: uppercase;
    font-weight: var(--fw-regular);
    font-size: var(--fs-200);
    line-height: 1;
    padding-block: 0.5rem 0.25rem;
  }
  .post-title {
    border-bottom: 1px solid hsl(var(--hsl-lime-1000) / 0.4) !important;
    padding-block: 1rem;
  }
  .post-date-row {
    border-top: 1px solid hsl(var(--hsl-lime-1000) / 0.4) !important;
    padding-bottom: 2rem;
    .post-date {
      color: var(--col-neutral-700);
      text-transform: uppercase;
      font-weight: var(--fw-regular);
      margin-bottom: 0.5rem;
    }
  }
  .post-content {
    .container {
      padding-inline: 0;
      margin-inline-end: 2rem;
    }
    .container:first-of-type:not([class*="post-date"]) {
      color: var(--_colour);
      font-size: var(--fs-600);
      font-weight: var(--fw-light);
      border-bottom: 1px solid hsl(var(--hsl-lime-1000) / 0.4) !important;
      margin-bottom: 2rem;
      padding-block: 1rem 0.5rem;
    }

    h2 {
      border-top: 1px solid hsl(var(--hsl-lime-1000) / 0.4) !important;
      border-bottom: 1px solid hsl(var(--hsl-lime-1000) / 0.4) !important;
      color: var(--_colour);
      font-size: var(--fs-500);
      font-weight: var(--fw-light);
      margin-block: 2rem;
      padding-block: 0.25rem;
    }
  }
}
